/* FLEXBOX LAYOUT */
.flex{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.flex.inline{
    display: inline-flex;
}

.flex.wrap{
    flex-wrap: wrap;
}

.flex.wrap-reverse{
    flex-wrap: wrap-reverse;
}

.flex.reverse{
    flex-direction: row-reverse;
}

.flex.column{
    flex-direction: column;
}

.flex.column.reverse{
    flex-direction: column-reverse;
}

.items-center{
    align-items: center;
}
.items-end{
    align-items: flex-end;
}
.items-start{
    align-items: flex-start;
}
.items-stretch{
    align-items: stretch;
}

/* .content-center{
    align-content: center;
}
.content-end{
    align-content: flex-end;
}
.content-start{
    align-content: flex-start;
} */

.justify-center{
    justify-content: center;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}

.self-center{
    align-self: center;
}
.self-end{
    align-self: flex-end;
}
.self-start{
    align-self: flex-start;
}
.self-stretch{
    align-self: stretch;
}

.grow-6{
    flex-grow: 6;
}
.grow-5{
    flex-grow: 5;
}
.grow-4{
    flex-grow: 4;
}
.grow-3{
    flex-grow: 3;
}
.grow-2{
    flex-grow: 2;
}
.grow-1{
    flex-grow: 1;
}
.grow-0{
    flex-grow: 0;
}

.shrink-3{
    flex-shrink: 3;
}
.shrink-2{
    flex-shrink: 2;
}
.shrink-1{
    flex-shrink: 1;
}
.shrink-0{
    flex-shrink: 0;
}

/* @media (min-width: 768px) and (max-width: 991px){
    .flex.tablet-column{
        flex-direction: column;
    }
    .flex.tablet-row{
        flex-direction: row;
    }
    .flex.tablet-column-reverse{
        flex-direction: column-reverse;
    }
    .flex.tablet-row-reverse{
        flex-direction: row-reverse;
    }
}
@media (max-width: 767px){
    .flex.mobile-column{
        flex-direction: column;
    }
    .flex.mobile-row{
        flex-direction: row;
    }
    .flex.mobile-column-reverse{
        flex-direction: column-reverse;
    }
    .flex.mobile-row-reverse{
        flex-direction: row-reverse;
    }
} */