/* FLEXBOX LAYOUT */
.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex.nowrap{
    flex-wrap: nowrap;
}

.flex.wrap-reverse{
    flex-wrap: wrap-reverse;
}

.flex.inline{
    display: inline-flex;
}

.flex.column{
    flex-direction: column;
}

.flex.items-center{
    align-items: center;
}
.flex.items-end{
    align-items: flex-end;
}
.flex.items-start{
    align-items: flex-start;
}
.flex.items-stretch{
    align-items: stretch;
}

.flex.content-center{
    align-content: center;
}
.flex.content-end{
    align-content: flex-end;
}
.flex.content-start{
    align-content: flex-start;
}

.flex.justify-center{
    justify-content: center;
}
.flex.justify-start{
    justify-content: flex-start;
}
.flex.justify-end{
    justify-content: flex-end;
}
.flex.justify-between{
    justify-content: space-between;
}
.flex.justify-around{
    justify-content: space-around;
}

.self-center{
    align-self: center;
}
.self-end{
    align-self: flex-end;
}
.self-start{
    align-self: flex-start;
}
.self-stretch{
    align-self: stretch;
}

.grow-6{
    flex-grow: 6;
}
.grow-5{
    flex-grow: 5;
}
.grow-4{
    flex-grow: 4;
}
.grow-3{
    flex-grow: 3;
}
.grow-2{
    flex-grow: 2;
}
.grow-1{
    flex-grow: 1;
}
.grow-0{
    flex-grow: 0;
}

.shrink-6{
    flex-shrink: 6;
}
.shrink-5{
    flex-shrink: 5;
}
.shrink-4{
    flex-shrink: 4;
}
.shrink-3{
    flex-shrink: 3;
}
.shrink-2{
    flex-shrink: 2;
}
.shrink-1{
    flex-shrink: 1;
}
.shrink-0{
    flex-shrink: 0;
}
